:root{
  
    --blue:#0dafeb;
    --rose:#DB1E5B;
    --black:#343434;
    --bg:#ebebe0;
    font-family:"Montserrat";
  }
  *{
    box-sizing: border-box;
  }
 .body{
    margin: 0;
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
  }
  .card {
    background-color: var(--bg);
    width: 400px;
    height: auto;
    margin: 1rem;
    padding: 2rem;
    border-radius:10px;
    box-shadow: 10px 10px 22px rgba(0,0,0,0.2),-10px -10px 22px rgba(255,255,255,0.75);
  }
  .card_header{
    font-size:1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
  }
  .form{
    margin:2rem 0;
  }
  .input-wrapper{
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    
  }
  .input-wrapper label{
    font-size: 1.2rem;
    font-weight:400;
    margin-left: 0.8rem;
  }
  .input-wrapper input{
    border: none;
    outline: none;
    background: none;
    background-color: var(--bg);
    padding: 0.8rem 1.1rem;
    border-radius:20px  ;
    margin: 0.5rem 0 1rem  0;
    font-size: 1.2rem;
    color:var(--blue);
    box-shadow: inset 5px 5px 11px rgba(0,0,0,0.2),inset -5px -5px 11px rgba(255,255,255,0.75);
  }
  .form button{
    border: none;
    outline: none;
    width: 100%;
    margin: 0.6rem 0.1rem 0;
    font-size: 1.2rem;
    color: var(--blue);
    text-transform: capitalize;
    padding: 0.9rem;
    border-radius: 20px;
    background-color: var(--bg);
    box-shadow: 10px 10px 22px rgba(0,0,0,0.2) ,-10px -10px 22px rgba(255,255,255,0.75);
  }
  .form button:active {
    box-shadow:inset 5px 5px 11px rgba(0,0,0,0.2),inset -5px -5px 11px rgba(255,255,255,0.75);
  }
  .card_footer{
    text-align: center;
    font-size:0.5rem;
    margin: 0;
  }
  .card_footer a{
    text-decoration: none;
    color:var(--rose);
    
  }
  .card_footer a:hover{
    text-decoration: underline;
  }
  .subheading {
    margin-top: 16px;
}